                                   Asset Management Company Dataset

                                Introduction
The Objective is to identify the best countries and a suitable investment type for making the
investment. The overall strategy is to invest where others are investing, implying that the best
countries are the ones ‘where most investors are investing’.

Data Dictionary


* Permalink -Unique ID of Companies

* name -name of Companies

* homeurl_page- Website URL

* Category_list- Categories to which company belong

* Status- Operational Status

* country_code- country_code

* state_code- state

rounds2

* company_permalink- Unique ID of company

* funding_round_permalink- Unique ID of funding round

* funding_round_type Type of funding - Venture,angel, private equity

* funding_round_code -Round of venture funding (round A,B..)

* Funding_at -Date of funding

* raised_amount_usd -Money raised in funding (USD)

In [ ]:
Answer the below questions -
1. Reading the Rounds2, companies.txt files.
2. How many unique companies are present in rounds2?
3. How many unique companies are present in the companies file?
4.Write the code to convert companies[‘permalink’] and Round2[‘company_permalink’] columns
to uppercase.
5. Are there any companies in the rounds2 file which are not present in companies.txt ?
6. Merge the two data frames so that all variables (columns) in the company's frame are added
to the rounds2 data frame. Name the merged frame master_dataframe. How many observations
are present in master_frame ?
7. Write the code to drop the redundant column ‘'company_permalink' from the
master_dataframe.
8. Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop
unnecessary columns.
9. Create a pivot table to compare the mean and median values for ‘raised_amount_usd’ and
‘funding_round_type’ across different funding round categories..
10. Filter the master_dataframe on ‘raised_amount_usd’ such as ‘raised_amount_usd’ lie
between 4 Millions to 15 Millions.
11.Identify the top 9 countries in terms of highest investment in ‘venture’ fund type.
12. Create the ‘main_category’ column by extracting the first value using the column
‘category_list’.
Hint - Use the Lambda function or string function.
13. Using the user defined function convert the ‘rasied_amount_used’ column into a categori

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Reading the Rounds2, companies.txt files.

In [6]:
rounds2=pd.read_csv('rounds2.csv',encoding='latin1')
rounds2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [9]:
comp=pd.read_csv('companies (1).txt',sep='\t')
comp.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

## 2. How many unique companies are present in rounds2?

In [10]:
rounds2.head(2)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN

In [12]:
pd.DataFrame(rounds2['company_permalink'].unique())

                                                       0
0                                    /organization/-fame
1                                 /ORGANIZATION/-QOUNTER
2                                 /organization/-qounter
3                    /ORGANIZATION/-THE-ONE-OF-THEM-INC-
4                                  /organization/0-6-com
...                                                  ...
90242                          /organization/zzzzapp-com
90243                          /ORGANIZATION/ZZZZAPP-COM
90244                               /organization/ãeron
90245                             /ORGANIZATION/ÃASYS-2
90246  /organization/ä°novatiff-reklam-ve-tanä±tä±m-h...

[90247 rows x 1 columns]

In [13]:
rounds2['company_permalink'].nunique()

90247

## 3. How many unique companies are present in the companies file?

In [14]:
comp.head(2)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014

In [18]:
pd.DataFrame(comp['name'].unique())

                                                   0
0                                              #fame
1                                           :Qounter
2                             (THE) ONE of THEM,Inc.
3                                            0-6.com
4                                   004 Technologies
...                                              ...
66098                  ZZNode Science and Technology
66099                          Zzzzapp Wireless ltd.
66100                                         ÃERON
66101                                         Ã”asys
66102  Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic

[66103 rows x 1 columns]

In [19]:
comp['name'].nunique()

66102

## 4.Write the code to convert companies[‘permalink’] and Round2[‘company_permalink’] columns to uppercase

In [20]:
comp.head(2)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014

In [22]:
comp['permalink']=comp['permalink'].str.upper()

In [23]:
comp.head(2)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014

In [24]:
rounds2.head(2)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN

In [25]:
rounds2['company_permalink']=rounds2['company_permalink'].str.upper()

In [26]:
rounds2.head(2)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN

## 5. Are there any companies in the rounds2 file which are not present in companies.txt ?

In [32]:
d=pd.DataFrame((set(rounds2['company_permalink'])).difference(set(comp['name'])))
d

                                                     0
0      /ORGANIZATION/CAMBRIDGE-TECHNOLOGY-PARTNERS-CTP
1                             /ORGANIZATION/QUICKLEGAL
2                               /ORGANIZATION/APPBACKR
3                                  /ORGANIZATION/SWYPE
4                    /ORGANIZATION/C3-ONLINE-MARKETING
...                                                ...
66365                              /ORGANIZATION/ECRIO
66366                          /ORGANIZATION/LINKOVERY
66367                /ORGANIZATION/ROVIO-ENTERTAINMENT
66368                       /ORGANIZATION/WISE-CONNECT
66369                      /ORGANIZATION/NUSCALE-POWER

[66370 rows x 1 columns]

## 6. Merge the two data frames so that all variables (columns) in the company's frame are added to the rounds2 data frame. Name the merged frame master_dataframe. How many observations are present in master_frame ?

In [34]:
master_dataframe=rounds2.join(comp,how='outer')
master_dataframe

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/ORGANIZATION/ZZZZAPP-COM,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114946,/ORGANIZATION/ÃERON,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114948,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
rounds2.shape

(114949, 6)

In [37]:
comp.shape

(66368, 10)

In [35]:
master_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
 6   permalink                66368 non-null   object
 7   name                     66367 non-null   object
 8   homepage_url             61310 non-null   object
 9   category_list            63220 non-null   object
 10  status                   66368 non-null   object
 11  country_code             59410 non-null   object
 12  state_code               57821 non-null   object
 13  region                   58338 non-null   object
 14  city                     58340 non-null   object
 15  founded_at               51147 non-null   object
dtypes: float64(1), object(15)
memory usage: 14.9+ MB

In [38]:
master_dataframe.shape

(114949, 16)

## 7. Write the code to drop the redundant column ‘'company_permalink' from the
## master_dataframe.

In [39]:
master_dataframe.drop('company_permalink',axis=1,inplace=True)

In [40]:
master_dataframe.shape

(114949, 15)

## 8. Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop unnecessary columns.

In [43]:
master_dataframe.isnull().sum()/master_dataframe.shape[0]*100

funding_round_permalink     0.000000
funding_round_type          0.000000
funding_round_code         72.909725
funded_at                   0.000000
raised_amount_usd          17.390321
permalink                  42.263091
name                       42.263961
homepage_url               46.663303
category_list              45.001696
status                     42.263091
country_code               48.316210
state_code                 49.698562
region                     49.248797
city                       49.247057
founded_at                 55.504615
dtype: float64

In [44]:
master_dataframe.drop(['funding_round_code','funded_at'],axis=1,inplace=True)

In [45]:
master_dataframe.shape

(114949, 13)

## 9. Create a pivot table to compare the mean and median values for ‘raised_amount_usd’ and ‘funding_round_type’ across different funding round categories..

In [47]:
master_dataframe.pivot_table(values='raised_amount_usd',index='funding_round_type',aggfunc=['mean','median'])

                                   mean            median
                      raised_amount_usd raised_amount_usd
funding_round_type
angel                      9.586945e+05          400000.0
convertible_note           1.453439e+06          272000.0
debt_financing             1.704353e+07         1100000.0
equity_crowdfunding        5.383682e+05          100000.0
grant                      4.300576e+06          201684.0
non_equity_assistance      4.112031e+05           60000.0
post_ipo_debt              1.687046e+08        19950000.0
post_ipo_equity            8.218249e+07        12262852.5
private_equity             7.330859e+07        20000000.0
product_crowdfunding       1.363131e+06          183915.0
secondary_market           7.964963e+07        32600000.0
seed                       7.198180e+05          275000.0
undisclosed                1.924237e+07         1018680.0
venture                    1.174895e+07         5000000.0

## 10. Filter the master_dataframe on ‘raised_amount_usd’ such as ‘raised_amount_usd’ lie between 4 Millions to 15 Millions.

In [49]:
master_dataframe['raised_amount_usd'].value_counts()

1000000.0     2860
2000000.0     2225
500000.0      2145
5000000.0     2057
10000000.0    2052
              ...
9259078.0        1
2665127.0        1
353102.0         1
782660.0         1
14851.0          1
Name: raised_amount_usd, Length: 22095, dtype: int64

In [53]:
master=master_dataframe[(master_dataframe['raised_amount_usd']>4000000) & (master_dataframe['raised_amount_usd']<=15000000)]
master

,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
12,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,8900000.0,/ORGANIZATION/1-800-DENTIST,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,operating,USA,CA,Los Angeles,Los Angeles,01-01-1986
21,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,6000000.0,/ORGANIZATION/1000CHI,Beijing 1000CHI Software Technology,http://www.1000chi.com/,Mobile,operating,NaN,NaN,NaN,NaN,01-01-2008
22,/funding-round/b952cbaf401f310927430c97b68162ea,venture,5000000.0,/ORGANIZATION/1000LOOKZ,1000Lookz,http://1000lookz.com,Beauty,operating,IND,25,Chennai,Chennai,01-01-2008
46,/funding-round/645b4cd895450b8e0268027cd7813047,venture,6602694.0,/ORGANIZATION/117GO,117go,http://117go.com,Social Travel,operating,CHN,23,Shanghai,Shanghai,01-10-2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114921,/funding-round/85443f5438bfd50104b9591eabc95c94,grant,7500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114922,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,14219999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114930,/funding-round/c05aab2155e390066d51c6852ff61464,grant,5400000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114931,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,7991547.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114936,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,8500000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 11.Identify the top 9 countries in terms of highest investment in ‘venture’ fund type.

In [54]:
master_dataframe.head(2)

,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014

In [60]:
k=master_dataframe[master_dataframe['funding_round_type']=='venture']
k.head()

,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,3406878.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,2000000.0,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
5,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,/ORGANIZATION/01GAMES-TECHNOLOGY,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN

In [62]:
k.groupby('country_code')['raised_amount_usd'].sum().nlargest(9)

country_code
USA    2.073456e+11
GBR    1.842098e+10
CAN    9.078461e+09
CHN    8.189876e+09
IND    8.079915e+09
DEU    5.732918e+09
FRA    5.144622e+09
ISR    3.996601e+09
ESP    3.333066e+09
Name: raised_amount_usd, dtype: float64

## 12. Create the ‘main_category’ column by extracting the first value using the column ‘category_list’ Hint - Use the Lambda function or string function.

In [63]:
master_dataframe.head(2)

,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014

In [67]:
master_dataframe['main_category']=master_dataframe['category_list'].apply(lambda x:str(x).split('|')[0])

In [68]:
master_dataframe

,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,main_category
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,700000.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps
3,/funding-round/650b8f704416801069bb178a1418776b,venture,3406878.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,2000000.0,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,Software
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,41313.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
114945,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,32842.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
114946,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
114947,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,18192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
114948,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,14851.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan

## 13. Using the user defined function convert the ‘rasied_amount_usd’ column into a categorical column as follow
## a) If the amount is less than 5 Millions then recode as TypeA.
## b) If the amount is greater than 5 Millions and less than 7 Millions then recode as TypeB.
## c) If the amount is greater than 7 Millions then recode as TypeC.

In [76]:
def usd(x):
    if x<5000000:
        return 'TYPE A'
    elif x>5000000 and x<7000000:
        return 'TYPE B'
    elif x>7000000:
        return 'TYPE C'
    else:
        return x

In [77]:
master_dataframe['raised_amount_usd']=master_dataframe['raised_amount_usd'].apply(usd)

In [78]:
master_dataframe

,funding_round_permalink,funding_round_type,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,main_category
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,TYPE C,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,TYPE A,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps
3,/funding-round/650b8f704416801069bb178a1418776b,venture,TYPE A,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,TYPE A,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,Software
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,TYPE A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
114945,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,TYPE A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
114946,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
114947,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,TYPE A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
114948,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,TYPE A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan

In [70]:
master_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   funding_round_permalink  114949 non-null  object
 1   funding_round_type       114949 non-null  object
 2   raised_amount_usd        94959 non-null   float64
 3   permalink                66368 non-null   object
 4   name                     66367 non-null   object
 5   homepage_url             61310 non-null   object
 6   category_list            63220 non-null   object
 7   status                   66368 non-null   object
 8   country_code             59410 non-null   object
 9   state_code               57821 non-null   object
 10  region                   58338 non-null   object
 11  city                     58340 non-null   object
 12  founded_at               51147 non-null   object
 13  main_category            114949 non-null  object
dtypes: float64(1), object(13)
memory usage: 13.2+ MB